:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  color: #040404;
  margin: 0;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(235, 235, 235, 1);
  background-image: linear-gradient(
      180deg,
      rgba(235, 235, 235, 0.94),
      rgba(187, 187, 187, 0.95)
    ),
    url("https://images.unsplash.com/photo-1581613856477-f65208436a48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

header {
  width: 90%;
  margin: auto;
  padding: 10px 0 20px 0;
  display: block;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

p {
  font-size: 1.4rem;
  margin: 0;
}

label {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
/* form */

.form {
  padding: 2rem 2rem 1rem 2rem;
  background-color: rgba(158, 165, 158, 0.8);
  border-radius: 1rem;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 700px) {
  .form {
    max-width: 500px;
  }
}

.form-group {
  margin: 0 auto 3rem auto;
}

.short-text,
option,
select {
  font-size: 1.5rem;
  display: block;
  border: none;
  border-radius: 0.2rem;
  border-bottom: black;
  width: 100%;
  min-height: 2em;
  margin-top: 0.5rem;
}

.text-area {
  width: 100%;
  min-height: 10rem;
}
